<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="normal/base-dashboard::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">View - Contacts</title>
</head>
<body>
<section>
    <div class="card mr-4">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact, status : ${contactList}">
                    <th scope="row" th:text="${status.index + 1}"></th>
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.phone}"></td>
                    <td th:text="${contact.email}"></td>
                    <td>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                        <button class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination Part-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>