<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${login}">Login</title>
</head>
<body>
<section>

    <!-- Alert Message -->

    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
        <p class="text-center" th:text="${session.message.content}"></p>
        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
    </div>

    <!-- End alert Message -->

</section>
</body>
</html>